.navbar-container {
    height: 60px;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    background: #fff;
}


.navbar__title {
    
    color: #f85555;
    font-weight: 700;
    font-size: 1.5rem;
    flex: 1;
    display: block;
    padding: 14px 20px;
}


.navbar__title strong {
    font-style: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.3s ease;
}

.navbar__title strong:hover {
    color: #fd5757c7;
}

.navbar__title strong:active {
    color: #0245c2;
}


.navbar__icon {
    width: 15%;
    text-align: center;
    padding: 14px;
    border: none;
    background: none;
    font-size: 1.8rem;
    color: #777777c2;
    line-height: 0;
}

.red {
    color: #f85555;
}

.cart__shopping--container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cart__shopping--cant {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    top: -5px;
    right: -29px;
    color:  #e0e0e0;
    border-radius: 0%;
    cursor: pointer;
    transition: background .5s ease, color .5s ease;
    font-size: .9rem;
    font-weight: bold;
  }

  .cantAnimation {
    background: #f85555;
    border-radius: 50%;
    color: #fff;
    transform: translateY(-18px);
    transition: transform .5s ease, background .5s ease, color .5s ease, border-radius .5s ease;

  }
  .cantAnimationNone {
    background: none;
    color: none;
    border-radius: none;
    transform: translateY(0px);
    transition: transform .5s ease, background .5s ease, color .5s ease, border-radius .5s ease;
  }

  .cantDisabled {
    opacity: 0;

  }

    

/* MEDIA QUERY */

@media (min-width: 992px) {
    .navbar__title {
        font-size: 2rem;
    }

    .navbar__nav {
        border-bottom: 1px solid #dcd9d9;
    }

    .navbar-container {
        height: 70px;
    }

    .navbar__icon {
        border-left: 1px solid #dcd9d9;
    }
}