.navbar-container {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    background: #fff;
}


.navbar__title {
    color: #f85555;
    font-weight: 700;
    font-size: 1.5rem;
    flex: 1;
    display: block;
    padding: 14px 20px;
}

.navbar__title strong {
    cursor: pointer;
    color: inherit;
}

.navbar__icon {
    width: 15%;
    text-align: center;
    padding: 14px;
    border: none;
    background: none;
    font-size: 1.4rem;
    color: #ababab;
    line-height: 0;
}

.red {
    color: #f85555;
}

@media (min-width: 992px) {
    .navbar__title {
        font-size: 2rem;
    }

    .navbar__nav {
        border-bottom: 1px solid #dcd9d9;
    }

    .navbar-container {
        height: 70px;
    }

    .navbar__icon {
        border-left: 1px solid #dcd9d9;
    }
}